name: why
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # CAMERA & MEDIA
  camera: ^0.11.0+2
  image_picker: ^1.0.7

  # NETWORK (FOR GEMINI API)
  http: ^1.2.0

  # SUPABASE
  supabase_flutter: ^2.5.6

  # PERMISSIONS
  permission_handler: ^11.0.1

  # ICONS
  flutter_launcher_icons: ^0.14.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/

flutter_launcher_icons:
  android: true
  ios: false
  image_path: assets/icon.png
